<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">
    
        <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3><u><b>Latest Mars News</b></u></h3>
                <h5>{{ mars.title }}</h5>
                <p>{{ mars.paragraph }}</p>
            </div>
        </div>

        <div class="row">
            <div class ="col-sm-12 col-lg-7">
                <h3><u><b>Featured Mars Image</b></u></h3>
                <img src = "{{ mars.images }}" alt="Featured Image" height=300/>
            </div>

            <div class ="col-sm-12 col-lg-4">
                <h3><u><b>Mars Weather</b></u></h3>
                <p>{{ mars.weather }}</p><br>
                <h3><u><b>Mars Facts</b></u></h3>
                <tr>{{ mars.facts | safe }}</tr>
            </div>
        </div>

        {% for hemisphere in mars.hemispheres %}
        <div class="row">
            <div class ="col-sm-12 col-lg-12">
                <h3><u><b>Mars Hemispheres</b></u></h3>
                <img src = "{{ hemisphere.img_url }}" height=300/>
                <h5>{{ hemisphere.title }}</h5> 
            </div>
        </div>
        {% endfor %}

    </div> 


</body>
</html>
